<nav class="mb-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Detalhe</li>
  </ol>
</nav>

<div class="row mb-3">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Setor
    </h1>
  </div>

  <div class="col-md">
    <a routerLink="/setor/lista" class="btn btn-success float-right">+ Listar Setores</a>
  </div>
</div>

<form (ngSubmit)="onSubmit()" #setorForm="ngForm">

    <div class="form-group">
      <label for="id">Setor</label>

      <input type="text" name="id"
        [ngClass]="{'form-control': true, 'is-valid': id.valid, 'is-invalid': !id.valid}"
        required
        [(ngModel)]="setor.id"
        #id="ngModel">

      <div [class.invalid-feedback]="id">
        Campo Setor Obrigatório!
      </div>
    </div>

    <div class="form-group">
      <label for="title">Endereço</label>

      <input type="text" name="endereco"
      [ngClass]="{'form-control': true, 'is-valid': endereco.valid, 'is-invalid': !endereco.valid}"
      [(ngModel)]="setor.endereco"
      required
      #endereco="ngModel">
      
      <div [class.invalid-feedback]="endereco">
        Campo Endereço Obrigatório!
      </div>
    </div>

    <button (click)="teste()" class="btn btn-primary" [disabled]="!setorForm.form.valid" >Alterar</button>
  </form>


  