<nav class="mb-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" *ngIf="!isNew">Detalhes</li>
    <li class="breadcrumb-item active" *ngIf="isNew">Salvar</li>
  </ol>
</nav>

<div class="row mb-3">
  <div class="col-md">
    <h1 *ngIf="!isNew" class="h2 border-left pl-2">
      Detalhes do Setor
    </h1>
    <h1 *ngIf="isNew" class="h2 border-left pl-2">
      Cadastrar Novo Setor
    </h1>
  </div>

  <div class="col-md">
    <a routerLink="/setor/lista" class="btn btn-success float-right">+ Listar Setores</a>
  </div>
</div>

<form (ngSubmit)="onSubmit()" #setorForm="ngForm">

  <div class="form-group">
    <label for="nome">Setor</label>
    <input type="text"
      name="nome" required placeholder="Nome do setor"
      [ngClass]="getFormControlClass(nome.valid, nome.pristine)"
      [(ngModel)]="setor.nome"
      #nome="ngModel"
      >

    <div [class.invalid-feedback]="setor.nome">
      Campo Setor Obrigatório!
    </div>     

  </div>
  <div class="form-group">
    <label for="endereco">Endereço</label>
    <input type="text"
      name="endereco" required placeholder="Endereço do setor"
      [ngClass]="getFormControlClass(endereco.valid, endereco.pristine)"
      [(ngModel)]="setor.endereco"
      #endereco="ngModel"
      >

      <div [class.invalid-feedback]="endereco.valid || endereco.pristine">
        Campo Endereço Obrigatório!
      </div>

  </div>
  
  <!--Em Linha-->

  <div class="form-row">

      <div class="form-group col-md-5">
        <label for="cidade">Cidade</label>
        <input type="text"
          name="cidade" id="cidade" required placeholder="Cidade do setor" required
          [ngClass]="getFormControlClass(cidade.valid, cidade.pristine)"
          [(ngModel)]="setor.localDeProva.nome"
          #cidade="ngModel"
          >
          <div [class.invalid-feedback]="cidade.valid || cidade.pristine">
            Campo Endereço Obrigatório!
          </div>
      </div>
      <div class="form-group col-md-3">
          <label for="bairro">Bairro</label>
          <input type="text"
            name="bairro" id="bairro" placeholder="Bairro do setor" required
            [ngClass]="getFormControlClass(bairro.valid, bairro.pristine)"
            [(ngModel)]="setor.bairro"
            #bairro="ngModel">

            <div [class.invalid-feedback]="bairro.valid || bairro.pristine">
              Campo Endereço Obrigatório!
            </div>

        </div>
      <div class="form-group col-md-2">
        <label for="inputState">Estado</label>
        <select id="inputState" class="form-control" name="Estado">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">

        <label for="cep">C.E.P.</label>
        <input type="text" 
          name="cep" id="cep" placeholder="C.E.P do setor" required
          [ngClass]="getFormControlClass(cep.valid, cep.pristine)"
          [(ngModel)]="setor.cep"
          #cep="ngModel"
        >

      </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="responsavel">Responsável</label>
      <input type="text"
        name="responsavel" id="responsavel" placeholder="Nome do responsável" required
        [ngClass]="getFormControlClass(responsavel.valid, responsavel.pristine)"
        [(ngModel)]="setor.nome_responsavel"
      >
    </div>
    <div class="form-group col-md-5">
      <label for="email">Email</label>
      <input type="text"
      name="email" id="email" placeholder="E-mail do responsável"
      [ngClass]="getFormControlClass(email.valid, email.pristine)"
      [(ngModel)]="setor.email_responsavel"
      >
    </div>
    <div class="form-group col-md-2">
      <label for="celular">Celular</label>
      <input type="text"
        name="celular" id="celular" placeholder="Celular do resposnsável"
        [ngClass]="getFormControlClass(celular.valid, celular.pristine)"
        [(ngModel)]="setor.celular_responsavel"
      >
    </div>

  </div>

  <div class="form-row">
      <div class="form-group col-md-2">
        <label for="salas">Qtd. de salas</label>
        <input class="form-control" type="text" name="salas" id="salas" value="0"
          [(ngModel)]="setor.qtd_sala"
        >

      </div>
      
      <div class="form-group col-md-5">
          <label for="latitude">Latitude</label>

          <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Digite a latitude"
            [(ngModel)]="setor.latitude"
          >
        </div>
        <div class="form-group col-md-5">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Digite a longitude"
          [(ngModel)]="setor.longitude"
          >

        </div>
      </div>
  <button type="submit" class="btn btn-primary" [disabled]="!setorForm.form.valid">Salvar</button>
</form>
