<nav class="mb-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Setor</li>
  </ol>
</nav>

<div class="row mb-3">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Setores
    </h1>
  </div>

  <div class="col-md">
    <a routerLink="/setor/new" class="btn btn-primary float-right">+ Adicionar Setor</a>
  </div>
</div>

<table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Setor</th>
      <th scope="col">Cidade</th>
      <th scope="col">Bairro</th>
      <th scope="col" class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let setor of setoresPag">
      <th scope="row">{{setor.id}}</th>
      <td>{{setor.nome}}</td>
      <td>{{setor.localDeProva.nome}}</td>
      <td>{{setor.bairro}}</td>
      <td class="text-center">
        <a [routerLink] = "['/setor/', setor.id, 'edit']" class="btn btn-success" role="button">Editar</a>&nbsp;
        <a href="#" class="btn btn-danger" role="button" (click)="onDelete(setor.id)">Deletar</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
  </div>

  <div class="col-md">
    <select class="custom-select float-right" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="5">5 items por página</option>
      <option [ngValue]="10">10 items por página</option>
      <option [ngValue]="15">15 items por página</option>
    </select>
  </div>
</div>
